<mat-toolbar color="primary" class="nav">
  <div class="menu-container">
    <div class="nav-left">
      <h2>Jira Software</h2>

      <div class="nav-center">
        <button mat-button [matMenuTriggerFor]="yourWork">Your work</button>
        <mat-menu #yourWork="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="yourWork">Projects</button>
        <mat-menu #yourWork="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="yourWork">Filters</button>
        <mat-menu #yourWork="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="yourWork">Dashboard</button>
        <mat-menu #yourWork="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="yourWork">Teams</button>
        <mat-menu #yourWork="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="yourWork">Apps</button>
        <mat-menu #yourWork="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-raised-button (click)="OpenModalPopup()">Create</button>
      </div>
    </div>
    <div class="nav-right" *ngIf="profileUser">
      <button mat-button [matMenuTriggerFor]="profile">
        Hello, {{ profileUser.fullName }}
      </button>
      <mat-menu #profile="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Log out</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<div class="layout-body">
  <router-outlet></router-outlet>
</div>
