.main {
  background-image: url(/assets/bg-img.jpg);
  height: 100vh;
  position: relative;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* first col */
.authfy-panel-left {
  background-color: rgba(38, 43, 72, 0.92);
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 3px 6px #1d2030;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.btn-facebook {
  background: #3b5998;
}

.btn-twitter {
  background: #00aced;
  padding-right: 35px;
}

.btn-google {
  padding-right: 23px;
}

/* second col */
.remember-box {
  padding-right: 69px;
}

.authfy-login {
  padding: 0 50px;
}

.authfy-heading {
  padding-top: 25px;
}
.auth-title {
  text-transform: capitalize;
  text-align: center;
  margin: 0 0 20px 0;
}

.main-row {
  transform: translate(20%, 50%);
}

.form-group {
  box-sizing: border-box;
  box-shadow: skyblue;
}

.eyeicon {
  position: absolute;
  margin-left: 320px;
  cursor: pointer;
}
