.login-input, .login-submit {
  width: 100%;
}
.login-submit {
  height: 50px;
  font-size: 18px;
}

.login-router {
  margin: 10px 0 0;
  text-align: center;
  font-size: 16px;
}

.login-router a {
  font-weight: 600;
}