.main {
  background-image: url(/assets/bg-img.jpg);
  height: 100vh;
  position: relative;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  min-height: 400px;
  background: #fff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.authfy-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-title {
  text-transform: capitalize;
  text-align: center;
  margin: 10px 0 20px;
}
